body,
h1,
h2,
h3,
h4,
h5 {
    font-family: "Poppins", sans-serif
}

body {
    font-size: 16px;
}

.brand-block {
    display: grid;
    grid-template-columns: 60% 40%;
    /* gap: 12px; */
}

#logo-svg {
    padding-top: 50%;
    height: 75%;
    width: 75%;
}

#top-bar-logo {
    height: 10%;
    width: 10%;
    margin-left: 5%
}



.w3-half img {
    margin-bottom: -6px;
    margin-top: 16px;
    opacity: 0.8;
    cursor: pointer
}

.w3-half img:hover {
    opacity: 1
}

.w3-container {
    padding: 0.01em 16px;
}

@media (max-width: 500px) {
    .w3-xlarge {
        font-size: 18px !important;
    }

    #top-bar-logo {
        height: 7%;
        width: 7%;
    }

}

@media (max-width: 768px) {
    .w3-xlarge {
        font-size: 20px !important;
    }

}