body,
h1,
h2,
h3,
h4,
h5 {
    font-family: "Poppins", sans-serif
}

#emphasis-p {
    padding-top: 5em;
    padding-bottom: 5em;
}

body {
    font-size: 16px;
}

.brand-block {
    display: grid;
    grid-template-columns: 60% 40%;
    /* gap: 12px; */
}

#logo-svg {
    padding-top: 50%;
    height: 75%;
    width: 75%;

}

#top-bar-logo {
    height: 8%;
    width: 8%;
    margin-left: 5%
}

/* .links-div {
    background-color: white;
} */

.w3-half img {
    margin-bottom: -6px;
    margin-top: 16px;
    opacity: 0.8;
    cursor: pointer
}

.w3-half img:hover {
    opacity: 1
}

.w3-container {
    padding: 0.01em 16px;
}

#services-div {
    border-color: #f44336;
}

.services-grid {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 5em;
    text-align: center;

}

.services-icon {
    width: 15%;
    margin-left: 15%;
}

.services-underline {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #f44336;
}

#services-p {
    text-align: center;
}

.footer {
    display: flex;
    justify-content: center;

}

a {
    cursor: pointer;
}

/* unvisited link */
.footer :link {
    color: #f44336;
}

/* visited link */
.footer a:visited {
    color: #f44336;
}

/* mouse over link */
.footer a:hover {
    color: hotpink;
}

/* selected link */
.footer a:active {
    color: blue;
}

@media (max-width: 470px) {
    /* .w3-xlarge {
        /* font-size: clamp(0.8rem, 2.5vw, 1rem) !important; */
    /* } */


    #top-bar-text {
        font-size: clamp(0.8rem, 2.5vw, 1rem) !important
    }

    #top-bar-logo {
        height: 5%;
        width: 5%;
    }

}

@media (max-width: 510px) {
    .w3-xlarge {
        font-size: 15px !important;
    }

    #top-bar-text {
        font-size: 15px !important;
    }

    #top-bar-logo {
        height: 7%;
        width: 7%;
    }

}

@media (max-width: 600px) {
    .w3-xlarge {
        font-size: 17px !important;
    }

    #top-bar-text {
        font-size: 17px !important;
    }

    #top-bar-logo {
        height: 7%;
        width: 7%;
    }

}

@media (min-width: 768px) {
    .w3-xlarge {
        font-size: 35px !important;
    }

    #top-bar-text {
        font-size: 35px !important;
    }

}