body,
h1,
h2,
h3,
h4,
h5 {
    font-family: "Poppins", sans-serif
}

body {
    font-size: 16px;
}

.brand-block {
    display: grid;
    grid-template-columns: 60% 40%;
    /* gap: 12px; */
}

#logo-svg {
    padding-top: 50%;
    height: 75%;
    width: 75%;
    background-color: aqua;
}

#top-bar-logo {
    height: 8%;
    width: 8%;
    margin-left: 5%
}



.w3-half img {
    margin-bottom: -6px;
    margin-top: 16px;
    opacity: 0.8;
    cursor: pointer
}

.w3-half img:hover {
    opacity: 1
}

.w3-container {
    padding: 0.01em 16px;
}

#services-div {
    border-color: #f44336;
}

.services-grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1.5rem;
}

.services-icon {
    height: 35%;
    width: 35%;
}

.services-underline {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #f44336;
}

@media (max-width: 470px) {
    .w3-xlarge {
        font-size: 18px !important;
    }

    #top-bar-logo {
        height: 7%;
        width: 7%;
    }

}

@media (max-width: 768px) {
    .w3-xlarge {
        font-size: 20px !important;
    }

}